:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark; /* Force dark UI controls */
  color: rgba(255, 255, 255, 0.87);
  background: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  background: transparent !important;
}

body {
  display: block;
  min-height: auto;
}
